<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates tempore veritatis maxime laudantium
            aspernatur, iusto deserunt reprehenderit sequi asperiores aliquid consequatur iure cumque inventore
            similique. Distinctio maiores soluta magnam quasi temporibus quae sit modi maxime, animi ad recusandae
            delectus deleniti!</p>
    </div>
</div>