<div class="jumbotron mt-4">
    <h1 class="display-4">Node and MogoDB With Handlebars</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt unde amet corporis quam, explicabo commodi quidem
        omnis velit. Ut sequi deleniti tenetur cum veritatis fugit id inventore neque veniam nisi.</p>
    {{!-- <a href="https://google.com" class="btn btn-primary btn-lg">Google</a> --}}
</div>